:host {
  display: grid;
  grid-template:
    'header header' 60px
    'editor output' 1fr
    'editor status' 30px;
  grid-template-columns: 61.8% 1fr;
}

monaco-editor {
  grid-area: editor;
}

app-header {
  grid-area: header;
}
