:host {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #1b81d7;
}

button {
  outline: none;
}

.button-group {
  margin-left: auto;

  button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
  }

  button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
  }
}
