html,
body {
  margin: 0;
  overflow: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 'header-left header-right' 'editor panel';
  grid-template-rows: 60px auto;
  grid-template-columns: 61.8% auto;
  overflow: hidden;

  &-header {
    margin: 0 !important;
    border-radius: 0 !important;

    &-left {
      grid-area: header-left;
    }

    &-right {
      grid-area: header-right;
    }
  }

  &-pop {
    padding: 10px !important;

    i.icon {
      margin: 0 !important;
    }
  }
}

.exec-panel {
  i.icon {
    margin: 0 !important;
  }
}

.editor {
  grid-area: editor;
}

.output {
  grid-area: panel;
  background-color: rgb(39, 40, 34);
  overflow: auto;

  &-line {
    display: flex;
    flex-wrap: wrap;
  }
}

.index-modal {
  .content {
    display: flex !important;

    .form,
    .list {
      flex: 1 1 50%;
    }
  }
}
