@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-dark/theme.css';
@import '~primeng/resources/primeng.min.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button:disabled {
  cursor: not-allowed;
}

.global-spinner .ui-progress-spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
}

$colors: #d50000, #2962ff, #00bfa5, #ffab00, #00c853;

@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  .user-#{$i} {
    color: $color;

    &-bg {
      background-color: $color;
    }

    &-li {
      display: flex;
      align-items: center;

      &::before {
        content: '';
        background: $color;
        display: inline-block;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        margin-right: 5px;
      }
    }

    &-cursor {
      background-color: $color;
      width: 2px !important;
    }

    &-selection {
      background-color: rgba($color, 0.2);
    }
  }
}
