{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "ie >= 10, firefox >= 11, chrome >= 15, safari >= 7, opera >= 12.1"
      },
      "modules": false
    }],
    "stage-0",
    "typescript"
  ]
}