<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block style %} {% endblock %}
</head>
<body>
    {% block content %} {% endblock %}

    <script src="/static/vendor.js"></script>
    {% block script %} {% endblock %}
</body>
</html>