{% extends './base.njk' %}

{% block content %}
  <div id="app"></div>
{% endblock %}

{% block script %}
  <script src="{{ resource.base }}{{ resource.js.index }}"></script>
{% endblock %}


{% block style %}
    <link rel="stylesheet" href="{{ resource.base }}{{ resource.css.index }}" />
{% endblock %}

