{% extends './base.njk' %}

{% block content %}
  <div id="app"></div>
{% endblock %}

{% block script %}
  <script src="/static/index.js"></script>
{% endblock %}


{% block style %}
    <link rel="stylesheet" href="/static/index.css" />
{% endblock %}

