{% extends './base.njk' %}

{% block content %}
    <div id="header" class="header"></div>
    <div class="content">
    </div>
{% endblock %}

{% block script %}
    <script src="/static/client.js"></script>
{% endblock %}
