{% extends './base.njk' %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block script %}
    <script>
        window._global = {
            id: '{{ id }}'
        }
    </script>
    <script src="/static/vs/loader.js"></script>
    <script src="/static/room.js"></script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/room.css" />
{% endblock %}
