{% extends './base.njk' %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block script %}
    <script src="{{ url.loader }}"></script>
    <script>
        window.require.config({ paths: { 'vs': _global.url.monaco }});
        window.MonacoEnvironment = {
		    getWorkerUrl: function(workerId, label) {
			    return '{{ url.base }}/monaco_proxy.js';
		    }
	    };
    </script>
    <script src="{{ resource.base }}{{ resource.js.room }}"></script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ resource.base }}{{ resource.css.room }}" />
{% endblock %}
