:host {
  display: flex;
  align-items: center;
  background: #333;
  padding: 0 20px;
}

button {
  outline: none;
}

.button-group {
  margin-left: auto;

  button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

app-users {
  margin-left: 10px;
}

.github {
  width: 30px;
  height: 30px;
  background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.format {
  display: flex;
  align-items: center;
  margin-left: 10px;

  span {
    padding-left: 5px;
  }
}

.save {
  margin-left: 10px;
}
