:host {
  overflow: hidden;
  display: grid;
  grid-template:
    'header header' 60px
    'editor output' 1fr;
  grid-template-columns: auto 38.2%;
}

app-header {
  grid-area: header;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

[monaco-editor-container] {
  grid-area: editor;
}

p-blockUI,
app-join {
  position: absolute;
}

p-toast {
  margin-top: 80px;
  position: fixed;
  z-index: 2000;
}

.ui-progress-spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

app-output {
  grid-area: output;
}
