.connect-status {
  display: flex;
  flex-direction: row;
  align-items: center;

  .circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }

  .text {
    font-size: 14px;
  }
}